/* ====================== DEFAULTS + BASE ====================== */

/* Variable Declarations */
:root {
    --login-border-size: 2px;
    --content-border-dark: rgb(62, 58, 77);
    --content-box-dark: rgb(28, 25, 34);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: #0a0;
}

ul {
    list-style: none;
}

html {
    background: radial-gradient(rgb(0, 83, 69), rgb(20, 2, 27));
    background-color: rgb(2, 0, 15);
    background-image: url("../Resources/Images/sbgXL.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: top center;
    font-family: "Verdana", system-ui, sans-serif;
    min-height: 100vh;
    color: white;
    scrollbar-gutter: stable;
}

button {
    font-family: 'Verdana', system-ui, sans-serif;
    padding: 2px 5px;
}

.circle {
    border: transparent none 0;
    border-radius: 50%;
}

body {
    position: relative;
    background: rgba(25, 50, 25, 0.92);
    max-width: 1400px;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 30px 10px rgb(0, 17, 9);
    border-left: 3px;
    border-right: 3px;
    border-bottom: 0;
    border-top: 0;
    border-style: solid;
    border-color: rgb(0, 29, 0);
}

.dropdown {
    position: absolute;
    display: none;
    flex-direction: column;
    border: rgb(101, 98, 110) solid 2px;
    border-radius: 2px;
    background-color: rgba(55, 53, 70, 0.3);
    min-height: 50px;
    width: 160px;
    top: 100%;
    right: 0;
}

.dropdown a {
    text-decoration: none;
    text-align: center;
    font-family: "Courier", system-ui, sans-serif;
    font-size: 1em;
    color: white;
    background-color: rgba(128, 100, 255, 0.1);
    border: none;
    padding: 5px;
    cursor: pointer;
    transition: 0.1s background-color ease;
}

.dropdown a:hover {
    background-color: rgba(100, 255, 100, 0.2);
}

.admin-only {
    display: none;
}

/* ====================== HEADER ====================== */

header {
    background: rgba(14, 26, 14, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    padding: 30px 40px;
    border-bottom: 2px solid #0a0;
}

header h1 {
    font-family: "Soopafresh", sans-serif;
    font-weight: 100;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 2.8rem;
    color: white;
    user-select: none;
    cursor: default;
}

header .logo {
    height: 125px;
    margin-right: 15px;
    width: auto;
}

/* ====================== NAVIGATION ====================== */

.navigation {
    display: grid;
    position: fixed;
    left: 0;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    background: linear-gradient(rgb(32, 31, 37), rgb(21, 20, 24));
    border-bottom: rgb(0, 102, 0) solid 2px;
    width: 100%;
    height: 40px;
    padding: 0 10px;
    z-index: 4311;
}

.navigation section {
    display: flex;
}

/* Introducing myself to the > operator, which enables direct child referencing */
.navigation > section:nth-child(1) {
    padding-left: 40px;
    justify-content: start;
}

.navigation > section:nth-child(2) {
    justify-content: center;
}

.navigation > section:nth-child(3) {
    justify-content: end;
}

.website-title {
    display: flex;
    align-items: center;
    height: 100%;
    text-decoration: none;
    color: white;
    font-weight: bold;
    letter-spacing: 7px;
    white-space: pre;
}

.navigation-button {
    display: flex;
    align-items: center;
    height: 100%;
    background: rgba(51, 48, 80, 0.3);
    color: white;
    padding: 0 20px;
    margin-left: 5px;
    border: rgb(71, 70, 78) solid;
    border-width: 0 1px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.1s ease;
}

.navigation-button:hover {
    background-color: rgba(78, 69, 116, 0.3);
}

.main-nav-button-container {
    position: relative;
}

.main-nav-button-container:hover > .dropdown {
    display: flex;
}

.dev-toggle-button {
    position: absolute;
    padding: 5px 20px;
    border: #0a0 solid 2px;
    border-radius: 2px;
    color: rgb(214, 255, 214);
    background-color: rgba(0, 100, 0, 0.3);
    font-size: 1.2em;
    font-family: 'Courier', system-ui;
    top: 160%;
    left: 30px;
    cursor: pointer;
    transition: 0.1s transform ease;
}

.dev-toggle-button:hover {
    background-color: rgba(104, 231, 125, 0.3);
    transform: scale(1.1);
}

/* ====================== FOOTER ====================== */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(3, 10, 3);
    padding: 40px 40px;
    margin-top: auto;
    text-align: center;
    border-top: 3px solid #0a0;
}

.footer-logo img {
    display: block;
    height: 55px;
    margin: 30px 0 15px 0;
    border: rgb(0, 109, 0) solid 3px;
    border-radius: 50%;
    mix-blend-mode:luminosity;
}

footer p {
    font-size: 0.9rem;
    color:rgb(154, 231, 154);
    font-weight: bold;
    opacity: 0.85;
}

footer small {
    color:rgb(73, 105, 80);
}

/* ====================== ADMIN PANEL ====================== */

.admin-panel {
    padding: 20px;
}

.admin-panel section {
    border-bottom:#0a0 solid 1px;
    padding-bottom: 15px;
    margin-bottom: 10px;
}

.admin-panel section > h2 {
    text-align: left;
    width: 100%;
    padding: 5px 0;
    margin-bottom: 10px;
    border-bottom: #0a0 solid 1px;
}

.admin-panel li {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 3px 5px;
    border-bottom: rgba(0, 150, 0, 0.3) dotted 1px;
}

.admin-panel li .file-size {
    color:rgba(163, 163, 163, 0.8);
}

.admin-panel li > .date {
    align-items: center;
    justify-self: center;
}

.admin-panel li > .options {
    display: inline-flex;
    gap: 4px;
    justify-self: end;
    justify-content: right;
}

.admin-panel li > .options a {
    color:rgb(0, 223, 0);
}

/* ====================== ADMIN EDITOR ====================== */

.editor-container {
    padding: 40px;
}

/* ====================== LOGIN ====================== */

.login {
    display: grid;
    margin: auto;
}

.login-container {
    border: #0a0 solid var(--login-border-size);
    border-radius: 2px;
    padding: 40px;
}

.login-container .fail {
    padding: 10px 0;
    color: red;
    font-size: small;
}

.type-container {
    display: flex;
    justify-self: end;
    outline: #0a0 solid var(--login-border-size);
    margin-right: var(--login-border-size);
}

.type-container > button {
    color: white;
    background-color: transparent;
    padding: 5px 10px;
    outline: #0a0 solid 1px;
    border-style: none;
    font-size: 1em;
    cursor: pointer;
}

.sign-in > .flavor, .sign-up > .flavor {
    display: flex;
    flex-direction: column;
    padding: 3px 0;
    margin-right: 40px;
}

.sign-in form, .sign-up form {
    display: grid;
    row-gap: 1px;
}

.sign-in > .flavor small, .sign-up > .flavor small {
    padding: 12px 0;
}

#sign-in-toggle[data-active="true"], #sign-up-toggle[data-active="true"] {
    font-weight: bold;
    background-color: rgba(0, 170, 0, 0.3);
}

#sign-in-toggle[data-active="false"], #sign-up-toggle[data-active="false"] {
    font-weight: 100;
    background-color: transparent;
}

.sign-in-info input[type="text"], .sign-up-info input[type="text"],
.sign-in-info input[type="password"], .sign-up-info input[type="password"] {
    color: white;
    border: var(--content-border-dark) solid 1px;
    border-radius: 1px;
    background-color: var(--content-box-dark);
    padding: 3px;
    width: 240px;
    margin: 5px 0;
}

.sign-in-info button, .sign-up-info button {
    margin-top: 20px;
    width: 100px;
}

/* ====================== HOME NAV ====================== */

.home-nav {
    display: flex;
    justify-content: start;
    height: fit-content;
    background-color: rgb(0, 15, 0);
    border: #0a0 solid;
    border-width: 1px 0;
    padding: 30px 100px;
}

.home-nav .discord-button {
    text-decoration: none;
    background-color:rgb(45, 51, 122);
    color:rgb(223, 230, 255);
    border:rgb(177, 195, 233) inset 5px;
    border-radius: 20px;
    min-height: 180px;
    width: 280px;
    font-size: 2.4em;
    text-align: center;
    align-content: center;
    font-family: 'Soopafresh', 'Verdana';
}

.home-nav .promo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-nav .promo-container {
    display: flex;
}

.home-nav .promo-container aside {
    background-color: rgb(72, 63, 82);
    border-radius: 3px;
    font-weight: bold;
    font-size: 1.5em;
    align-content: center;
    margin: 0 5px;
    padding: 0 3px;
}

.home-nav .promo-image {
    border-radius: 5px;
    background-color: #0a0;
    height: 150px;
    width: 267px;
}

.home-nav .circle {
    width: 12px;
    height: 12px;
    cursor: pointer;
}

/* ====================== HOME PAGE ====================== */

.banner {
    background: rgba(0, 0, 0, 0.3);
    height: 160px;
    width: 96%;
    max-width: 1100px;
    margin: 30px auto;
}

.welcome {
    text-align: center;
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
    font-size: 2.2rem;
    padding: 20px 40px;
    margin: 20px auto;
    border-bottom: 1px solid #0a0;
    border-radius: 12px;
    max-width: 600px;
    opacity: 0.95;
    user-select: none;
}

.home-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 60px 40px;
    max-width: 1400px;
}

.home-container main {
    display: flex;
    flex: 1;
    flex-direction: column;
    background: rgb(15, 22, 15);
    min-height: 600px;
    width: 720px;
    max-width: 100%;
    border: 3px solid rgba(132, 192, 132, 0.3);
    border-radius: 5px;
    box-shadow: 0 0 30px 5px rgba(0, 102, 9, 0.6) inset;
}

.home-container main h2 {
    color: rgb(87, 255, 87);
    font: 3rem lighter;
    font-family: "Soopafresh", sans-serif;
    text-align: center;
    padding: 15px;
    border: #0a0 solid 3px;
    box-shadow: 0 0 10px 0 #0a0;
    text-shadow: 0 0 40px #0a0;
}

 /* Sidebars */
.sidebar {
    background: rgb(15, 31, 20);
    width: 400px;
    height: fit-content;
    border: 1px solid rgba(0, 100, 0, 0.3);
    border-radius: 2px;
}

.sidebar h2 {
    background: rgb(37, 90, 37);
    font-size: 1.8rem;
    text-align: center;
    padding: 12px;
    border-radius: 3px;
    border-bottom: 3px solid #0a0;
}

.sidebar li {
    color:rgb(224, 255, 224);
    margin: 10px 0;
}

.sidebar ul {
    border-bottom: 1px solid #0a0;
    padding: 10px 20px;
    margin: auto;
}

/* News Feed */
.news-feed {
    display: grid;
    row-gap: 35px;
    padding: 40px;
}

.news-feed .blog-preview {
    width: 100%;
    padding-bottom: 20px;
    border-radius: 10px 10px 4px 4px;
    border-bottom: 1px solid #0a0;
    overflow: hidden;
    border-top: 2px solid rgba(100, 255, 100, 0.4);
}

.news-feed h3 {
    background: rgb(12, 59, 12);
    padding: 18px 25px;
    margin-bottom: 20px;
    font-size: 1.65rem;
    border-bottom: 2px solid #0a0;
}

.news-feed a {
    color: white;
    text-decoration: none;
}

.news-feed p {
    padding: 0 25px 10px;
    line-height: 1.3;
    font-size: 1.05rem;
    margin-bottom: 8px;
}

.news-feed p a {
    text-decoration: underline;
}

.news-feed .date {
    display: block;
    margin: 0 20px;
    font-style: italic;
    text-align: right;
    font-size: 0.75rem;
    color: rgba(220, 255, 220, 0.6);
    margin-top: 20px;
}

.show-more {
    color: rgb(116, 177, 121);
    font-size: 1.2em;
    text-align: center;
    margin: auto;
    padding: 5px;
}

@keyframes bounceImage {
    0% {
        transform: scale(1);
    }
    9% {
        transform: scale(1.11);
    }
    29% {
        transform: scale(0.94);
    }
    48% {
        transform: scale(1.03);
    }
    67% {
        transform: scale(0.99);
    }
    85% {
        transform: scale(1.001);
    }
    100% {
        transform: scale(1);
    }
}

.fabu-link {
    height: 110px;
    width: 110px;
    margin: 40px auto;
}

.fabu-link > img {
    display: block;
    width: 100%;
    height: 100%;
    border: #0a0 solid 3px;
    border-radius: 20px;
}

.bounce {
    animation: bounceImage 0.5s ease-out forwards;
}

/* ====================== BLOG EDITOR ====================== */

.blog-title {
    background-color: rgb(34, 30, 41);
    border-style: ridge;
    color: white;
}

.blog-editor-body {
    margin: 10px auto;
    border: 1px solid var(--content-border-dark);
    background-color: var(--content-box-dark);
    color: white;
    padding: 10px;
    min-height: 200px;
    cursor:text;
    outline-color: transparent;
    transition: 0.05s outline-color ease;
}

.blog-editor-body:focus-within {
    outline:#0a0 double 3px;
    border-radius: 1px;
}


.blog-editor-content {
    outline: none;
}

.blog-editor-placeholder {
    color: rgb(93, 89, 105);
    pointer-events: none;
    user-select: none;
    display: none;
}

/* ====================== PORTFOLIO ====================== */

.portfolio {
    padding: 20px;
}

.project-item {
    margin-bottom: 10px;
}

/* ====================== GALLERY ====================== */

.gallery-grid {
    margin: 20px 0;
}

.gallery-grid h2 {
    margin: 15px 0;
}

.image-container {
    display: flex;
}

.gallery-card {
    cursor: pointer;
    margin: 0 20px 10px 0;
}

.gallery-card img {
    height: 200px;
    max-height: 200px;
    border: 3px solid #0a0;
    border-radius: 2px;
}

.gallery-container > .upload-text {
    text-decoration: underline;
    cursor: pointer;
}

.lightbox {
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    inset: 0;
    padding: 50px;
    align-items: center;
    margin: auto;
    z-index: 9001;
}

.lightbox > button {
    cursor: pointer;
    color: white;
    align-self: start;
    text-align: center;
    background-color: transparent;
    font-family: "Soopafresh", sans-serif;
    font-size: 2em;
    border: none;
    height: 50px;
    width: 50px;
}

.lightbox > img {
    width: 70%;
    margin: 0 5%;
}

.lightbox > .details {
    display: flex;
    flex: 1;
    flex-direction: column;
    border-left: #0a0 solid 2px;
    height: 100%;
    padding: 20px 0;
    padding-left: 50px;
    align-self: start;
}

.lightbox > .details > h1 {
    padding-bottom: 10px;
    border-bottom: lightgray solid 1px;
}

.lightbox > .details > p {
    padding: 50px 0;
}

/* ====================== GALLERY UPLOADER ====================== */

.gallery-container .upload-container {
    margin: 20px 0;
}

.upload-preview {
    display: inline-block;
    color: black;
    background-color: white;
    height: 1.4em;
    width: 200px;
    padding: 0 3px;
    font-size: 0.8em;
}

.upload-preview-label {
    display: block;
    padding: 10px 0;
}

.upload-container select {
    display: inline-block;
}

.upload-container button {
    display: inline-block;
    margin: 5px 0;
}

.title-field-label {
    display: block;
    padding-bottom: 3px;
}

.description-field-label {
    display: block;
    padding-bottom: 3px;
}

.title-field {
    background-color: white;
    height: 1.4em;
    width: 300px;
    max-width: 100%;
    color:black;
    font-size: 0.8em;
    margin-bottom: 5px;
}

.description-field {
    background-color: white;
    padding: 3px;
    height: 180px;
    max-width: 100%;
    color: black;
    font-size: 0.8em;
}

/* ====================== PORTFOLIO UPLOADER ====================== */

.portfolio-editor ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "aa ab"  /* Title / Lang API */
        "ba ba"  /* Project Link     */
        "ca cb"  /* Img   / Date     */
        "da da"; /* Description      */
    column-gap: 20px;
    row-gap: 10px;
    width: 720px;
    max-width: 100%;
}

.portfolio-editor h2 {
    margin-bottom: 10px;
}

.portfolio-editor p {
    padding-bottom: 5px;
}

.portfolio-editor div {
    background-color: white;
    height: 24px;
    color:black;
    border-radius: 1px;
    padding: 3px;
    font-size: 0.8em;
    text-align: left center;
    overflow-inline: scroll;
    scrollbar-width: none;
    text-wrap: nowrap;
}

.portfolio-editor .description-field {
    text-wrap: wrap;
}

.portfolio-editor .title { grid-area: aa; }
.portfolio-editor .lang-api { grid-area: ab; }
.portfolio-editor .project-link { grid-area: ba; }
.portfolio-editor .image-link { grid-area: ca; }
.portfolio-editor .date { grid-area: cb; }
.portfolio-editor .desc { grid-area: da; }

.portfolio-editor .desc > div {
    background-color: white;
    height: 180px;
    overflow-y: auto;
    color: black;
    font-size: 0.8em;
}

/* ====================== LIBRARY ====================== */

.library {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 20px 0;
}

.product-list-item {
    display: flex;
    position: relative;
    overflow: hidden;
    background: linear-gradient(rgba(100, 255, 196, 0.2), transparent);
    background-color: black;
    width: 100%;
    height: 220px;
    border: #0a0 double 10px;
    border-style: double double solid;
    box-shadow: 0;
    border-radius: 30px;
    margin: 2px 0;
    cursor: pointer;
    z-index: 0;
    transition: 0.1s transform ease, 0.5s box-shadow ease, 0.5s z-index ease;
}

.product-list-item:hover {
    box-shadow: 0 0 50px 0 rgba(0, 200, 0, 0.5);
    transform: scale(1.03);
    z-index: 1;
}

.product-list-item > .title {
    position: absolute;
    color: rgb(255, 255, 255);
    width: fit-content;
    font-size: 3.5em;
    letter-spacing: 0.22em;
    text-align: start;
    padding: 25px 40px;
    bottom: 0;
    left: 0;
    transform: scale(1);
    transition: 1s transform ease, 1s left ease;
}

.product-list-item:hover > .title {
    transform: scale(1.01);
    left: 3px;
}

.product-list-item > .hook {
    position: absolute;
    color: rgba(226, 226, 226, 0.9);
    width: 50%;
    font-family: Courier, monospace;
    font-size: 2em;
    letter-spacing: 3px;
    font-weight: bold;
    text-align: right;
    padding: 20px 30px;
    bottom: -15%;
    right: 0;
    opacity: 0;
    transition: 0.8s opacity ease, 0.8s bottom ease;
}

.product-list-item:hover > .hook {
    opacity: 1;
    bottom: 0;
    transition-delay: 0.3s;
}

.product-list-item > .vignette {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 40px 5px black;
    inset: 0;
}

.product-list-item > .background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../Resources/Images/Gallery/Ahaha_Sure_Full.png");
    background-position: left 40% bottom 75%;
    opacity: 0.1;
    inset: 0;
    transition: 0.3s opacity ease, 0.1s transform ease, 1s background-position ease;
}

.product-list-item:hover > .background {
    background-position: left 45% bottom 75%;
    transform: scale(1.1);
    opacity: 0.4;
}

.product-list-item > .sheen {
    position: absolute;
    height: 300%;
    width: 110%;
    background: linear-gradient(rgba(154, 100, 255, 0.3), transparent);
    left: 50%;
    transform: rotate(45deg);
}

.product-list-item > .sheen-top {
    position: absolute;
    height: 40%;
    width: 100%;
    background: linear-gradient(transparent, rgba(202, 202, 202, 0.2));
    inset: 0;
}

/* ====================== PRODUCT VIEWER ====================== */

.product-body {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-blend-mode: hard-light;
    background-image: url("../Resources/Images/test_background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(27, 99, 59);
    width: 100%;
    padding: 30px 50px;
}

.product-body h1 {
    letter-spacing: 7px;
    word-spacing: 5px;
    font-weight: lighter;
    font-size: 2.5em;
    padding-bottom: 2px;
}

.product-body small {
    color: gray;
    padding-bottom: 20px;
}

.product-body p {
    width: 100%;
    line-height: 1.4;
    max-width: 100%;
}

.product-body .trailer {
    margin-top: 120px;
    background-color: #0a0;
    width: 100%;
    height: 360px;
}

.product-body > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
}

.product-body .details {
    justify-self: end;
    width: 75%;
    border: #0a0 double 5px;
    border-radius: 5px;
    background-color: rgba(50, 50, 50, 0.2);
    justify-items: end;
    text-align: right;
    padding: 30px 20px;
}

.product-body .details > h2 {
    width: 75%;
    padding-bottom: 20px;
    border-bottom: #0a0 solid 1px;
}

.product-body .details a {
    color: white;
}

.product-body .details > ul {
    display: grid;
    gap: 5px;
    padding: 20px 0;
}

.product-body .details small {
    font-style: italic;
    white-space-collapse: preserve;
}

.product-download {
    text-align: center;
    padding: 60px 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.product-download > .inner {
    justify-items: center;
    width: 75%;
    border: #0a0 solid 1px;
    border-width: 1px 0 1px 0;
    margin: auto;
    padding: 80px;
}

.product-download h1 {
    width: fit-content;
    border-bottom: 1px dotted #0a0;
    padding: 5px;
}

.product-download .links {
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-auto-flow: column;
    column-gap: 100px;
    padding: 60px;
}

.product-download a {
    text-decoration: none;
    color: rgb(81, 255, 81);
    background-color: rgba(0, 100, 0, 0.3);
    font-size: 1.5em;
    padding: 25px 90px;
    border: #0a0 double 10px;
    border-radius: 5px;
    cursor: pointer;
    transform: scale(1);
    transition: 0.1s background-color ease, 0.2s transform ease;
}

.product-download a:hover {
    background-color: rgba(89, 206, 89, 0.4);
    transform: scale(1.05);
}

/* ====================== NEWS ====================== */

.blog-history-header {
    text-align: center;
    padding: 40px;
}

.blog-history-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    row-gap: 30px;
    justify-content: center;
    justify-items: center;
    padding: 50px 100px;
    width: 100%;
    margin-bottom: 50px;
}

.blog-history-container a {
    max-width: 360px;
    text-decoration: none;
    color: white;
}

.blog-history-container .cover {
    border-radius: 3px;
    display: block;
    background-color: #0a0;
    width: 360px;
    min-height: 230px;
    margin-bottom: 5px;
}

.blog-history-container .category {
    font-weight: bold;
    text-transform: uppercase;
}

.blog-history-container .date {
    color: rgb(122, 194, 101);
}

.blog-history-container a h3 {
    padding: 10px 0;
    text-decoration: underline;
}

.blog-history-container a p {
    font-size: 0.9em;
}

/* ====================== MAIN UPLOADER ====================== */

.main-upload {
    display: flex;
    margin: 20px 30px;
    justify-content: space-between;
    align-items: start;
}

.main-upload legend {
    font-weight: bold;
}

.main-upload fieldset {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 600px;
    max-height: 500px;
    padding: 10px 15px;
    margin-bottom: 5px;
}

.main-upload fieldset label {
    font-weight: bold;
}

.main-upload fieldset div {
    display: block;
    padding-bottom: 15px;
}

.main-upload fieldset div p {
    padding: 5px 0 0 30px;
}

.main-upload fieldset button {
    width: 100px;
    max-width: 100%;
    padding: 2px;
}

.submission-details {
    max-width: 100%;
    width: 700px;
    height: 500px;
    padding: 0 20px;
}

/* ====================== RESPONSIVE ====================== */

@media (max-width: 1100px) {
    .home-container {
        flex-direction: column;
        align-items: center;
    }

    .main-upload {
        align-self: center;
        flex-direction: column;
        max-width: 720px;
        width: 100%;
    }

    .home-nav {
        justify-content: center;
    }

    .sidebar {
        width: 100%;
        max-width: 720px;
    }

    .home-container > main {
        max-width: 720px;
        min-height: 500px;
        width: 100%;
    }

    .product-body-sections {
        flex-direction: column;
        max-width: 720px;
        width: 100%;
    }

    .product-list-item > .title {
        font-size: 3.2em;
    }
    
    .product-list-item > .hook {
        font-size: 1.5em;
    }
}

@media (max-width: 640px) {
    .product-list-item > .title {
        padding: 25px 20px;
        font-size: 3.2em;
    }

    .product-list-item > .hook {
        top: 0;
        bottom: 100%;
        width: 100%;
    }
}